.rules {
  height: 768px;
}

.rules__background {
  position: relative;
  top: 160px;
  height: calc(100% - 160px);
}

.rules__confirm {
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.rules__title {
  margin: 0;
  font-family: var(--main-black);
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: var(--text-color-black);
}

.rules__main-rule {
  max-width: 754px;
  font-family: var(--main-bold);
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: var(--text-color-black);
  margin-top: 57px;
  margin-bottom: 0;
}

.rules__apply-button {
  margin-top: 55px;
  background: var(--button-background-color);
  color: var(--white);
  transition: 0.3s;
}

.rules__apply-button:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  border-color: var(--text-color-black);
  background: var(--text-color-black);
  color: var(--white);
}

.rules__figure {
  position: absolute;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
}

.rules__figure--1 {
  background-image: url("./figure1.svg");
  top: 10%;
  left: 14%;
}

.rules__figure--2 {
  background-image: url("./figure2.svg");
  top: 11%;
  left: 28%;
}

.rules__figure--3 {
  background-image: url("./figure3.svg");
  top: 82%;
  left: 63%;
}

.rules__figure--4 {
  background-image: url("./figure4.svg");
  top: 43%;
  left: 91%;
}

.rules__figure--5 {
  background-image: url("./figure5.svg");
  top: 66%;
  left: 83%;
  height: 150px;
}

.rules__figure--6 {
  background-image: url("./figure6.svg");
  top: 59%;
  left: 5%;
}

.rules__figure--7 {
  background-image: url("./figure7.svg");
  top: 44%;
  left: 17%;
  height: 150px;
}

.rules__figure--8 {
  background-image: url("./figure8.svg");
  top: 16%;
  left: 90%;
}

.rules__figure--9 {
  background-image: url("./figure9.svg");
  top: 19%;
  left: 80%;
  height: 150px;
}

.rules__figure--10 {
  background-image: url("./figure10.svg");
  top: 83%;
  left: 8%;
}

.rules__figure--11 {
  background-image: url("./figure11.svg");
  top: 61%;
  left: 76%;
}

.rules__figure--12 {
  background-image: url("./figure12.svg");
  top: 74%;
  left: 30%;
}
